# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Inflearn/JPA/ex1-hello-jpa/ex1-hello-jpa/target/
